.projects{
    color: #fff;
}
.projects-container{
    height: auto;
    background-color: #EBEBEB;
    padding-bottom: 40px;
}
.projects-img img{
    width: 420px;
    height: 330px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.technology{
    display: flex;
    flex-wrap: wrap;
}
.technology span{
    background-color: #eee;
    margin: 6px;
    padding: 4px 6px;
    border-radius: 3px;
    color: #4B5769;
}
.github img{
    width: 20px;
    height: 20px;
    font-weight: bold;
}
.live-site img{
    width: 20px;
    height: 20px;
}