.top-baner{
    background:url('../../images/intro-bg.jpg') no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
    width: 100%;
    height: auto;
}
.overlay{
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 600px;
    background: #111111;
    opacity: .85;
}
.my-img{
    margin-top: 7rem;
}
.my-img img{
    height: 350px;
    width: 350px;
}
.my-img .outline{
    outline: 2px solid #fff;
    border-radius: 50%;
    width: 295px;
    height: 295px;
    position: absolute;
    margin: -16px 130px;
}
.my-title{
    margin-top: 10rem;
}
.my-title h1{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}
.inside-baner{
    margin-top: 10rem;
}
.about-me-btn{
    background-color: transparent;
    border: 0;
    color: #fff;
    border: 2px solid rgba(117, 116, 116, 0.856);
    padding: 12px 25px;
    font-weight: bold;
    z-index: -1;
}
.get-in-touch{
    background-color: transparent;
    border: 0;
    color: #fff;
    border: 2px solid rgba(117, 116, 116, 0.856);
    padding: 12px 25px;
    font-weight: bold;
}
.about span a{
    text-decoration: none;
    color: #fff;
}
.about-me-btn:hover{
    border: 2px solid #FF0077;
}
.get-in-touch:hover{
    border: 2px solid #FF0077;
}
.social-icon-1{
    z-index: 2;
    display: none;
}
.social-icon-2{
    z-index: 2;
}

@media screen and (max-width: 768px){
    .my-title{
        margin-top: 10px;
    }
    .overlay{
        height: 820px;
    }
    .social-icon-1{
        display: block;
    }
    .social-icon-2{
        display: none;
    }
    .my-img img{
        height: 350px;
        width: 350px;
    }
} 
@media screen and (max-width: 578px){
    .my-img img{
        height: 350px;
        width: 350px;
    }
}
@media screen and (max-width: 430px){
    .my-img img{
        height: 350px;
        width: 100%;
    }
}