.contact-container{
    background-color: #1C262B;
    height: 100vh;
}
.submit-btn{
    background-color: #FF0077;
    padding: 10px 40px;
    border: 0;
    color: #fff;
    border-radius: 4px;
}

@media screen and (max-width: 560px){
    .input{
        width: 120%;
    }
}
