.footer-container{
    height: auto;
    margin-top: 100px;
    background-color: #151515;
}
.footer-container p{
    color: #FF0077;
    font-weight: bold;
    margin-top: 7px;
}
.footer-container small{
    color: #4b4b4b;
}
.social img{
    height: 24px;
    margin: 10px;
}