.blog-container{
    height: auto;
    margin-top: 50px;
}
.card-img img{
    height: 168px;
    border-radius: 3px;
}


@media screen and (max-width: 768px){
    .card-img{
        margin: 20px auto;
        width: 410px !important;
    }
}
@media screen and (max-width: 470px){
    .card-img{
        margin: 20px auto;
        width: 100% !important;
    }
}